<div class="container-fluid">
	<div id="site-div" class="col-md-3 pre-scrollable text-center bs-docs-sidebar span3" >
		<h2>Dive Sites Near</h2>
		<h3><%=@location.name%></h3>
		<ul class="site-list" >
			<% @divesites.each do |divesite| %>
			<li>
				<h3><a href="/divesites/<%= divesite.id %>"><%= divesite.site_name %></a></h3>
				<h4>Coordinates:</h4>
				<p>Latitude: <%=divesite.lat%> </p>
				<p>Longitude: <%=divesite.lng%> </p>
			</li>
			<% end %>
		</ul>
	</div>
	<div id="map-container" class="col-md-9 fixed">
		<div id="map"></div>
	</div><!--close map-container-->
	<script type="text/javascript">
	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {
		scrollwheel: false
	}, internal: {id: 'map'}}, function(){
		markers = handler.addMarkers(<%=raw @hash.to_json %>);
		handler.bounds.extendWith(markers);
		handler.fitMapToBounds();
	});
	</script>
</div><!--close conatainer-fluid-->
