
<% if @lat && @lng%>
<h2>Dive sites near <%= "#{@lat}, #{@lng}"%></h2>

<% @site_data.each do |site|%>
<div id= "site-div">
  <h3>Site Name: <%=site['name']%></h3>
  <h4>Distance from location:</h4>
  <p><%=site['distance']%>  nautical miles</p>
  <h4>Coordinates:</h4>
  <p>Latitude: <%=site['lat']%></p>
  <p>Longitude: <%=site['lng']%></p>

</div>
<%end%>
<%end%>

<div id="map">
</div>
<script type="text/javascript">
  function initMap(){
    var mapDiv = document.getElementById('map');
    var map = new google.maps.Map(mapDiv, {
      center: { lat:<%=@lat%>, lng:<%=@lng%>},
      zoom: 8
    });

  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
         async defer></script>
